<a href="https://colab.research.google.com/github/VijayaGnany1821/Assignment-1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
d1 = {'Left_weights': [1,2,3,4,5], 'Left_distances': [1,2,3,4,5], 'Right_weights': [1,2,3,4,5], 'Right_distances': [1,2,3,4,5]}
df = pd.DataFrame(d1)
df

   Left_weights  Left_distances  Right_weights  Right_distances
0             1               1              1                1
1             2               2              2                2
2             3               3              3                3
3             4               4              4                4
4             5               5              5                5

In [4]:
df ['LeftDist_by_LeftWght'] = df ['Left_weights'] * df['Left_distances']
df

,Left_weights,Left_distances,Right_weights,Right_distances,LeftDist_by_LeftWght
0,1,1,1,1,1
1,2,2,2,2,4
2,3,3,3,3,9
3,4,4,4,4,16
4,5,5,5,5,25

In [8]:
df. shape

(5, 6)

In [9]:
df. size

30

In [5]:
df ['RightDist_by_RightWght'] = df ['Right_weights'] * df['Right_distances']
df

,Left_weights,Left_distances,Right_weights,Right_distances,LeftDist_by_LeftWght,RightDist_by_RightWght
0,1,1,1,1,1,1
1,2,2,2,2,4,4
2,3,3,3,3,9,9
3,4,4,4,4,16,16
4,5,5,5,5,25,25

In [10]:
df['Left_weights'].dtype

dtype('int64')

In [11]:
df['Right_weights'].dtype

dtype('int64')

In [12]:
df['Left_distances'].dtype

dtype('int64')

In [13]:
df['Right_distances'].dtype

dtype('int64')

In [16]:
df ['Total'] = df ['Right_weights'] + df ['Left_weights']
df

,Left_weights,Left_distances,Right_weights,Right_distances,LeftDist_by_LeftWght,RightDist_by_RightWght,Total
0,1,1,1,1,1,1,2
1,2,2,2,2,4,4,4
2,3,3,3,3,9,9,6
3,4,4,4,4,16,16,8
4,5,5,5,5,25,25,10

In [25]:
df [' New_Total'] = [i for i in range(5)]
df

,Left_weights,Left_distances,Right_weights,Right_distances,LeftDist_by_LeftWght,RightDist_by_RightWght,New_Total
0,1,1,1,1,1,1,0
1,2,2,2,2,4,4,1
2,3,3,3,3,9,9,2
3,4,4,4,4,16,16,3
4,5,5,5,5,25,25,4

In [29]:
del df[' New_Total']
df

,Left_weights,Left_distances,Right_weights,Right_distances,LeftDist_by_LeftWght,RightDist_by_RightWght
0,1,1,1,1,1,1
1,2,2,2,2,4,4
2,3,3,3,3,9,9
3,4,4,4,4,16,16
4,5,5,5,5,25,25

In [30]:
df. iloc[[2]]

,Left_weights,Left_distances,Right_weights,Right_distances,LeftDist_by_LeftWght,RightDist_by_RightWght
2,3,3,3,3,9,9

In [31]:
df. iloc[0:2]

,Left_weights,Left_distances,Right_weights,Right_distances,LeftDist_by_LeftWght,RightDist_by_RightWght
0,1,1,1,1,1,1
1,2,2,2,2,4,4

In [32]:
df.Left_weights > 3

0    False
1    False
2    False
3     True
4     True
Name: Left_weights, dtype: bool

In [36]:
df. loc[0]

Left_weights              1
Left_distances            1
Right_weights             1
Right_distances           1
LeftDist_by_LeftWght      1
RightDist_by_RightWght    1
Name: 0, dtype: int64